.customc-container{
    /* border: 5px solid red; */
    height: 300px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #0E2148;
}


/* left-box */

.customc-leftbox {
  display: flex;
  flex-direction: column;
  height: 220px;
  align-items: center;
  /* background: #f0f0f0; */
  padding: 15px;
  border-radius: 12px;
  max-width: 350px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.customc-leftbox img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -18px; /* spacing below text */
}

.customc-container .customc-centerbox{
    /* border: 5px solid black; */
    height: 190px;
    width: 55%;
    /* padding: 20px; */
    margin: 0 auto;
    background-color: #CD5656;
    color: white;
    border-radius: 12px;
    text-align: center;
}

.customc-centerbox img{
  height: 200px;
}
.customc-container .customc-body{
    display: flex;
    
}

@media (max-width: 480px) {
  .customc-leftbox,
  .customc-centerbox {
    flex: 1 1 100%; 
  }
}



